 <!-- Fixed navbar -->
    <nav style="background-color : #a3a3c2" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab-4:index' %}"  >Home</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <!-- LINK MENUJU table, dan link menuju home#form -->

            <li><a href="/lab-2/" class="w3-bar-item w3-button w3-padding-large">Base Home</a></li>
            <li><a href="/lab-2-addon/" class="w3-bar-item w3-button w3-padding-large">About</a></li>
            <li><a href="/lab-3/" class="w3-bar-item w3-button w3-padding-large">Diary</a></li>
            <li><a href="{% url 'lab-4:index' %}#form" class="w3-bar-item w3-button w3-padding-large"> Form </a></li>
            <li><a href="{% url 'lab-4:result_table' %}" class="w3-bar-item w3-button w3-padding-large"> Messages Table </a> </li>
            

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
