{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    

    <img class = "center-block" width="300" height="200" src = {{ movie.poster}}>
    <h2 style="color:#FFFFE0; text-align: center;" > {{ movie.title}} </h3>
    <h5 style="color:#FFFFE0; text-align: center;"> Tahun : {{ movie.year}} </h5>
    <h5 style="color:#FFFFE0; text-align: center;"> Rated : {{ movie.rated}} </h5>
    <h5 style="color:#FFFFE0; text-align: center;">  Genre : {{ movie.rated}} </h5>
    <h5 style="color:#FFFFE0; text-align: center;">  Aktor : {{ movie.actors}} </h5>
    
    <hr>
        <div class="box">
            {% if added %}
                 <button style="margin-left: 500px" class="btn btn-success"> Added to Watch Later </button 
            {% else %}
                 <a style="margin-left: 500px" href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif%}
    </div>

    

</div>
{% endblock %}
