{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
		<img height="180" width="300" src = {{movie.poster}}>
		<h4 style="color:#191970"> <b>{{movie.title}} </b> </h4>
		<h6 style="color: #191970"> {{movie.year}} </h6>
		<br>

    {% endfor %}
</div>
{% endblock %}
