{% extends "base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<h3 style="text-align: center; color:white;font-family: 'Lato' ; ">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center; color:white;">

    {% for bio in bio_dict %}
        <tr >
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
