{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="color:#660033; text-align: right;">Portofolio</h1>
     <hr/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
   
   
    <img src = "https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-0/s480x480/21766372_2133664973340563_1622727225770661059_n.jpg?oh=08460ce5fe286f20c6359f516b92fcb1&oe=5A412B43" style="width:200px; height:200px; border-radius: 50%"/; align="right">


    <style>
body {
    font-family: 'Lato';font-size: 22px;
}
</style>

    <section name="bio">
        <br> 
        <br>
        <br>

        
        <h2 style="color:#660033;">Bio</h2>
        <p style="color:#ffffff">
            {{content}}
        </p style="color: #ffffff">    
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="color:#660033">List</h2>
        <ul style="color: #666699">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>

    <section name="form">
        <h2 style="color:#660033">Send Message</h2>
        <form style="color:#660033" id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button style="background-color:#660033; color: #ffffff" type="submit" class="btn btn-default">Submit</button >
        </form>
    </section>
    <hr/>

    {% endblock %}
