{% extends "lab_9/layout/base.html" %}

{% block header %}

{% include 'lab_9/partials/header_cookie.html' %}

{% endblock %}

{% block content %}
    <style>
        .panel-body {
            text-align: center;
            margin : 20px;
            color: white;
            background : #778899;
            font-size: 20px;
            padding: 5px;
        }
       
    </style>
<div class = "container">
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="text-align: center; font-size: 20px; color: #778899"> <b> [Cookie] Profile </b></h2>
    </div>
    <div class="panel-body">
        <p><b> Username : {{ request.COOKIES.user_login }} </b></p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger"> Reset Cookies (Logout) </a>
    </div>
</div>
</div>
{% endblock %}
