{% extends "lab_9/layout/base.html" %}

{% block header %}

{% include 'lab_9/partials/header.html' %}

{% endblock %}


{% block content %}
    <style>
        .panel-body {
            text-align: center;
            margin : 20px;
            color: #191970;
            background : #778899;
            
            padding: 5px;
        }
        #body{
            font-size: 18px;
            color: white;
        }
    </style>
<!-- Content Here -->
<div class="container">
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="text-align: center; font-size: 20px; color: #778899"> <b>[Session] Profile </b></h2>
    </div>
    <div class="panel-body" id = "body">
        <p><b> Username : {{ author }} </b></p>
        <p><b> NPM : {{kode_identitas}} </b></p>
        <p><b> Role : {{ role }} </b></p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a>
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a style = "color: #191970" href="#drones" aria-controls="home" role="tab" data-toggle="tab"> Drones </a>
        </li>
        <li role="presentation">
            <a style = "color: #191970 " href="#soundcard" aria-controls="settings" role="tab" data-toggle="tab"> Soundcard </a>
        </li>
        <li role="presentation">
            <a style = "color: #191970 " href="#optical" aria-controls="settings" role="tab" data-toggle="tab"> Optical </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="drones">
            {% include 'lab_9/tables/drones.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="soundcard">
            {% include 'lab_9/tables/soundcard.html' %}
            <!-- Apply the same here -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="optical">
            {% include 'lab_9/tables/optical.html' %}
            <!-- Apply the same here -->
        </div>
    </div>
</div>
</div>
{% endblock %}
