<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>

<style>
body {
    font-family: 'Lato';font-size: 22px;
}
    table, th, td {
        border: 3px solid white;
       
    }
    .subject{
        font-size: 19px;
        font-family: "Century Gothic";
        color: white;
    }
    .value{
        font-size: 25px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif, "Century Gothic";
        color: white;
    }
</style>
<body style= "background-image:url(http://desktopwalls.net/wp-content/uploads/2015/02/Matterhorn%20Mountain%20Alps%20Desktop%20Wallpaper.jpg)">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/" class="w3-bar-item w3-button w3-padding-large" > Home </a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/" class="w3-bar-item w3-button w3-padding-large"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/" class="w3-bar-item w3-button w3-padding-large"> Diary </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab-4:index' %}#form" class="w3-bar-item w3-button w3-padding-large"> Form </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab-4:result_table' %}" class="w3-bar-item w3-button w3-padding-large"> Messages Table </a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
