{% extends "lab_7/layout/base.html" %}
{% block content %}

<html>
<section>
<body style="margin-top:10px">
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	}
</style>
<h2>About Friend</h2>
<table>
  <tr>
    <th>Nama</th>
    <td>{{friend.friend_name}}</td>
  </tr>
  <tr>
    <th>NPM</th>
    <td>{{friend.npm}}</td>
  </tr>
  <tr>
    <th>Alamat</th>
    <td>{{friend.alamat}}</td>
  </tr>
    <tr>
    <th>Kode Pos</th>
    <td>{{friend.kodepos}}</td>
  </tr>
    <tr>
    <th>Kota Lahir</th>
    <td>{{friend.kotalahir}}</td>
  </tr>
  <tr>
    <th>Tanggal Lahir</th>
    <td>{{friend.tgllahir}}</td>
  </tr>
  <tr>
    <th>Prodi</th>
    <td>{{friend.prodi}}</td>
  </tr>
</table>
</body>
</section>
{% endblock %}
