
{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}', //#URL untuk mendapatkan list teman],
                success: function (response) {
                    {% for friend in friend_list %}
                        $("#friend-list").append("<a class='list-group-item clearfix'> {{friend.friend_name}} {{friend.npm}} </a>")
                    {% endfor %}
                },
                error: function(error){
                     alert("OPPS mana nih temannya belum ada")
                }
            });
        });
    </script>
{% endblock %}
