{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                <div class="list-group">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="pull-right">
                        <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}', '{{ mahasiswa.alamat_mhs }}', '{{ mahasiswa.kd_pos_mhs }}', '{{ mahasiswa.kota_lahir }}', '{{ mahasiswa.tgl_lahir }}', '{{ mahasiswa.program.0.nm_org }} ({{ mahasiswa.program.0.nm_prg }})')">
                            Tambah sebagai teman
                        </span>
                    </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}


                    <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                        <div class="container">
                          <ul class ="pagination">
                            {% if mahasiswa_list.has_previous %}
                              <li><a href ="?page = {{ mahasiswa_list.previous_page_number}}">previous</a></li>
                            {% endif %}
                              Page {{mahasiswa_list.number }} of {{ mahasiswa_list.paginator.num_pages }} 

                            {% if mahasiswa_list.has_next %}
                              <li><a href="?page={{ mahasiswa_list.next_page_number }}">next</a></li>
                            {% endif %}
                          </ul>
                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                                <span class="btn btn-xs btn-default" onClick="deleteFriend('{{ friend.npm }}')">Hapus Teman
                        </span>
                                <span class="btn btn-xs btn-default" onClick="biodata('{{ friend.npm }}')">View Teman
                        </span>



                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>

                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>

                    <label for="field_alamat">alamat</label>
                    <input id="field_alamat" type="text" name="name" class="form-control"/>

                    <label for="field_kodepos">kode pos</label>
                    <input id="field_kodepos" type="text" name="name" class="form-control"/>

                    <label for="field_kotalahir">kota lahir</label>
                    <input id="field_kotalahir" type="text" name="name" class="form-control"/>

                    <label for="field_tgl_lahir">tanggal lahir</label>
                    <input id="field_tgl_lahir" type="text" name="name" class="form-control"/>

                    <label for="field_prodi">prodi</label>
                    <input id="field_prodi" type="text" name="name" class="form-control"/>

                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>

    var biodata = function (id) {
        window.open ('biodata/' + id + '/' ,'_self');
    }
    var deleteFriend = function(id) {
        window.open ('delete-friend/' + id + '/', '_self');
    }

    var addFriend = function(nama, npm, alamat, kodepos, kotalahir, tgllahir, prodi) {
        $.ajax({
            method: "POST",
            url: "{% url "lab-7:add-friend" %}",
            data: { name: nama, npm: npm, alamat : alamat, kodepos : kodepos, kotalahir : kotalahir, tgllahir: tgllahir, prodi : prodi},
            success : function (friend) {
                html = '<a class="list-group-item clearfix">' +
                    friend.friend_name +
                    '</a>';
                $("#friend-list").append(html)
               
            },
            error : function (error) {
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    $("#add-friend").on("submit", function () {
       name = $("#field_name").val()
       npm = $("#field_npm").val()
       alamat =  $("#field_alamat").val()
       kodepos =  $("#field_kodepos").val()
       tgllahir =  $("#field_tgl_lahir").val()
       kotalahir =  $("#field_kotalahir").val()
       prodi =  $("#field_prodi").val()
       addFriend(name, npm, alamat, kodepos, kotalahir, tgllahir,  prodi)
       event.preventDefault();
    });

    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });
</script>
{% endblock %}
